
/*
  Line numbers
  Credit to [alexpeattie](https://github.com/alexpeattie)
  @see https://github.com/shikijs/shiki/issues/3#issuecomment-830564854
 */
.astro-code code {
  counter-reset: step;
  counter-increment: step 0;
}

.astro-code code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}
