@import "./shiki/line-numbers.css";
@import "./shiki/transformers.css";

@layer basic {
  .astro-code {
    position: relative;
    z-index: 1;
    padding: 1rem;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-light);
    background-color: #fafafa;
  }

  .dark .astro-code,
  .dark .astro-code span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
